<div class="container-fluid">

    <!-- FILE PATH -->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">File Path</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button> -->
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">

                <!-- radio -->
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio1" checked>
                    <label for="customRadio1" class="custom-control-label">Default Path</label>
                </div>
                &nbsp;&nbsp;
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio1">
                    <label for="customRadio2" class="custom-control-label">Custom Path</label>
                </div>
            </div>

            <br><label for="basic-url">File Uploader</label>
            <div style="display:none" id="defaultFile" class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">public_html/3AB/</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div id="customFile" class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">public_html/custom/</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>

            <br>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Bot Path</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

            <br>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Human Path</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

            <!-- <div class="input-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Bot Path</span>
                                </div>
                                <input type="file" class="form-control">
                                <span class="input-group-append">
                                  <button type="button" class="btn btn-info btn-flat">Find!</button>
                                </span>
                            </div>

                            <div class="input-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Human Path</span>
                                </div>
                                <input type="file" class="form-control">
                                <span class="input-group-append">
                                  <button type="button" class="btn btn-info btn-flat">Find!</button>
                                </span>
                            </div> -->

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->



    <!-- LOADER THEMES -->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Loader Themes</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button> -->
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="theme1" name="customRadio2" checked>
                                <label for="theme1" class="custom-control-label">Default</label>
                                <br/><br/><br/><br/><br/>
                                <div id="preloader">
                                    <div id="loader"></div>
                                </div>
                                <br/><br/><br/><br/>

                                <!-- Color Picker -->

                                <div class="form-group">
                                    <label>Color picker: Line 1</label>

                                    <div class="input-group my-colorpicker2">
                                        <input type="text" id="picker1" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Line 2</label>

                                    <div class="input-group my-colorpicker3">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Line 3</label>

                                    <div class="input-group my-colorpicker4">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>


                                <button type="submit" id="save1" class="btn btn-primary">Save</button>

                            </div>
                            <br>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="theme2" name="customRadio2">
                                <label for="theme2" class="custom-control-label">Circle 1</label>
                                <br/><br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="loader4">
                                            <span class="loader loader-1"></span>
                                            <span class="loader loader-2"></span>
                                            <span class="loader loader-3"></span>
                                            <span class="loader loader-4"></span>
                                        </div>
                                    </div>
                                </div>

                                <br/><br/><br/><br/>

                                <!-- Color Picker -->
                                <div class="form-group">
                                    <label>Color picker: Circle 1</label>

                                    <div class="input-group my-colorpicker5">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Circle 2</label>

                                    <div class="input-group my-colorpicker6">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Circle 3</label>

                                    <div class="input-group my-colorpicker7">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Circle 4</label>

                                    <div class="input-group my-colorpicker8">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <button type="submit" id="save1" class="btn btn-primary">Save</button>
                            </div>
                            <br>
                        </div>

                        <div class="col-sm">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" id="theme3" name="customRadio2">
                                <label for="theme3" class="custom-control-label">Circle 2</label>
                                <br/><br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="preloader1">
                                            <div class="loader loader-inner-1">
                                                <div class="loader loader-inner-2">
                                                    <div class="loader loader-inner-3">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br/><br/><br/><br/>

                                <!-- Color Picker -->
                                <div class="form-group">
                                    <label>Color picker:</label>

                                    <div class="input-group my-colorpicker9">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group">
                                    <label>Color picker: Line 2</label>

                                    <div class="input-group my-colorpicker10">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Color picker: Line 3</label>

                                    <div class="input-group my-colorpicker11">
                                        <input type="text" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" id="save1" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->


    <!-- /.row -->
</div>